@inject ILocalizationService _localizationService;
@inject IContentCulturePickerService _picker
@{
    var cultures = await _localizationService.GetSupportedCulturesAsync();
    _picker.SetContentCulturePickerCookie("en");
}
<!DOCTYPE html>
<html lang="@Orchard.CultureName()" dir="@Orchard.CultureDir()">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@RenderTitleSegments(Site.SiteName, "after")</title>
    <resources type="HeadLink" />
    <style asp-name="BejzbolNet-BootstrapCss"></style>
    <style asp-name="BejzbolNet-SplideCss"></style>
    <style asp-name="BejzbolNet-CustomCss"></style>
    <script asp-name="BejzbolNet-BootstrapJs" at="Foot"></script>
    <script asp-name="BejzbolNet-SplideJs" at="Foot"></script>
    <script asp-name="BejzbolNet-ActivateLinksJs" at="Foot"></script>
    <script asp-name="BejzbolNet-JqueryJs" at="Foot"></script>
    <resources type="Header" />
    @await RenderSectionAsync("HeadMeta", required: false)

</head>
<body>
    <div id="wrapper" class="container">
        <header class="header">
            @* <section class="row header__language-switcher">
                <nav>
                    @for(int i = 1; i < cultures.Length; i++)
                    {
                        <a href="#">
                            @cultures[i]
                        </a>
                    }
                </nav>
                @await _localizationService.GetDefaultCultureAsync()
               
            </section> *@
            <section class="row">
                <div class="header__top-logo col-12 col-md-4">
                    <a href="/">
                        <img src="~/BejzbolNet.MainTheme/images/logo-black.png" alt="Logo - Bejzbol.net">
                    </a>
                </div>
                <div class="header__top-search col-12 col-md-8">
                    <form action="/search" method="get" class="d-flex align-items-center justify-content-end">
                        <input class="form-control" required type="text" name="Terms" style="width: 100%;max-width: 368px">
                        <button type="submit" class="btn btn-secondary" style="width: 100px;">@T["Pretraga"]</button>
                    </form>
                </div>
            </section>
            <section class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg main-nav">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="mainNav">
                            <menu alias="alias:main-menu" cache-id="main-menu" cache-fixed-duration="00:05:00" cache-tag="alias:main-menu" />

                            @* <ul class="navbar-nav">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Naslovna</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Pravila</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Teren</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Oprema</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Rečnik</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Istorija</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">MLB timovi</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Linkovi</a>
                            </li>

                            </ul>  *@
                        </div>
                    </nav>
                </div>
            </section>
        </header>
        <main>

            @await RenderBodyAsync()

        </main>
        <footer class="footer">
            <div class="row">
                <section class="col-12 col-md-3">
                    <div class="footer__logo">
                        <img src="~/BejzbolNet.MainTheme/images/logo-white.png" alt="Logo - Bejzbol.net">
                    </div>

                </section>
                <section class="col-12 col-md-3">
                    @await RenderSectionAsync("Footer1", false)
                </section>
                <section class="col-12 col-md-3">
                    @await RenderSectionAsync("Footer2", false)
                </section>
                <section class="col-12 col-md-3">
                    @await RenderSectionAsync("Footer3", false)
                </section>
            </div>
            <div class="row">
                <div class="col">
                    @await RenderSectionAsync("FooterCopyright",false)
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @await RenderSectionAsync("Footer",false)
                </div>
            </div>
        </footer>
    </div>
    <script at="Foot" asp-src="" debug-src="~/OrchardCore.Menu/Scripts/activate-links.js"></script>

    <resources Type="FootScript"></resources>

    <script>
        (function ($) {
            $('#mainNav').activateLinks({ selector: 'a', traverse: 2 });
        })(jQuery);

    </script>

    <script>
        new Splide('#players-carousel', {
            perPage: 8,
            rewind: true,
            breakpoints: {
                640: {
                    perPage: 1,
                }
            }
        }).mount();
        new Splide('#teams-carousel', {
            perPage: 5,
            rewind: true,
            breakpoints: {
                640: {
                    perPage: 1,
                }
            }
        }).mount();
    </script>
</body>
</html>
